* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

.slider {
    overflow: hidden;
}

.slider figure {
    position: relative;
    height: 700px;
    width: 500%;
    animation: 10s slider infinite;
}

.slider figure img {
    /* height: 100%; */
    width: 20%;
    float: left;
}

@keyframes slider {
    0% {
        left: 0%;
    }
    20% {
        left: 0%;
    }
    40% {
        left: -100%;
    }
    60% {
        left: -200%;
    }
    80% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}